<div class="area-login-background d-none d-md-block"></div>

<div class="area-form">
    <form >
        <h1 class="titulo">Fake Cards</h1>
        <h2 class="subtitulo">May the Force be with you</h2>

        <input [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="input-form" type="text" placeholder="Enter your email">
        <input [(ngModel)]="senha" [ngModelOptions]="{standalone: true}" class="input-form" type="password" placeholder="Enter your password">
        <app-button textButton="Login" (click)="login(email, senha)"></app-button>

        <p>Don't have an account ? <a href="signup">SignUp</a></p>

        <p class="error">{{errorMessage}}</p>
    </form>
    <p class="footer fw-bold">© 2024 - Desenvolvido por Angelo Salvador Avelino & Rodrigo Ferreira</p>

</div>
